body {
  height: 100vh;
  width: 100vw;
}

div {
  &.container {
    height: 100vh;
    width: 100%;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
  }

  &.box {
    grid-column: 1 / -1;
    grid-row: 1 / -2;
    max-width: 1000px;
    width: 100%;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  }

  &.score {
    grid-column: 1 / -1;
    grid-row: 11 / 13;
    align-self: stretch;
  }

}


.refresh {
  grid-column: 1 / span 3;
  grid-row: -2 / -1;
  align-self: stretch;
  margin: 0;
}
.golem{
  &_1{
        grid-row: -2 / -1;
    grid-column: 5 / span 2;
    align-self: stretch;
    margin: 0;
  }
}


.counter {
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
}
p{
  display: block;
  position: relative;
  top: 80%;
  text-align: center;
}

.h100 {
  height: 100%;
}